<h1> Edit page </h1>

 <form (ngSubmit)="editProduct()" #Productform="ngForm" class="form-group">
  <div>
    <label for="name"> Name: </label>
    <input type="text" name="name" required [(ngModel)]="products.name" #name="ngModel" class="form-control">
  </div>
  <div>
    <label for="price"> Price: </label>
    <input type="number" name="price" required [(ngModel)]="products.price" #price="ngModel" class="form-control">
  </div>
  <div>
    <label for="detail"> Detail: </label>
    <input type="textarea" name="detail" required [(ngModel)]="products.detail" #detail="ngModel" class="form-control">
  </div>
  <div>
    <input type="submit" class="btn btn-primary">
  </div>
</form>



 <a [routerLink]="['/products']">
            Back to main page
</a>
